.statistics {
    padding: 20px;
}

.granularitySelector {
    margin-bottom: 20px;
    display: flex;
    gap: 10px;
}

.granularitySelector button {
    padding: 10px 15px;
    border: 1px solid #4e2024;
    border-radius: 5px;
    cursor: pointer;
    background-color: #4e2024;
    color: white;
}

.granularitySelector button.active {
    background-color: #e72929;
    color: white;
    border-color: #e72929;
}

.granularitySelector button:hover {
    background-color: #e72929;
    border-color: #e72929;
}

.statsDisplay {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.statBox {
    border: 1px solid #ddd;
    padding: 15px;
    border-radius: 5px;
    background-color: #fefefe;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    flex: 1;
    min-width: 200px;
}