.task {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    background-color: whitesmoke;
    font-size: 1rem;
}

.taskCompleted {
    opacity: 0.5;
    color: #6c757d;
}

.taskName {
    flex: 2;
    text-align: left;
}

.taskNameCompleted {
    text-decoration: line-through;
}

.taskImportance {
    flex: 1;
    text-align: center;
}

.taskDeadline {
    flex: 1.5;
    text-align: center;
}

.taskIsDone {
    flex: 1;
    text-align: center;
    cursor: pointer;
    text-decoration: underline;
}

.taskIsDone:hover {
    color: #e72929;
}

.taskDeleteBtn {
    flex: 0.5;
    background-color: #4e2024;
    color: white;
    border: none;
    padding: 8px 12px;
    font-size: 1rem;
    border-radius: 5px;
    cursor: pointer;
}

.taskDeleteBtn:hover {
    background-color: #e72929;
}